@{
    ViewBag.Title = "Home Page";
}

<script>
    $(document).ready(function () {
        $("textarea").click(function () {
            $(this).val("");
        });
        $("#submit").click(function () {
            $("#text").text($("textarea").val());
        });
        $("#fancy").click(function () {
            $("#text").css({"color": "green", "font-style": "italic", "font-weight": "bold", "font-size": "150%"});
        });
    });
</script>

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>
        </div>
    </section>
}
<h3>Text Replacement</h3>
<textarea>Enter text to appear below!</textarea><br/>
<button id="submit">Replace</button><button id="fancy">Fancy Text</button>
<p id="text"></p>
